#search{
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

#erreur{
    background-color: red;
    width: 100px;
    height: 32px;
    font-family: "Comic Sans MS";
}

#succes{
    background-color: #0d6e1e;
    width: 100px;
    height: 32px;
    font-family: "Comic Sans MS";
}

#info{
    background-color: dodgerblue;
    width: 100px;
    height: 32px;
    font-family: "Comic Sans MS";
}

.button{
    border-style: solid;
    background-color: black;
}

.button:hover{
    opacity: 0.5;
}

.result{
    animation: 5s ease-in-out;

}

.notif{
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-top: 2%;
}

#results{
    width: 30%;
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.Succès{
    border-color: #0d6e1e;
    font-family: "Comic Sans MS";
}
.Erreur{
    border-color: red;
    font-family: "Comic Sans MS";
}
.Info{
    border-color: dodgerblue;
    font-family: "Comic Sans MS";
}

#input{
    width: 300px;
    height: 30px;
    font-family: "Comic Sans MS";
    text-align: center;
}